html{
	background: darkslategray;
}
#menu{
	height: 500px;
	width: 200px;
	background:salmon;
	display: inline-block;
}
#canvas{
	width: 800px;
	height: 500px;
	display: inline-block;
	background: white;
	margin-left: 20px;
	border-radius: 5px;
	vertical-align: top;
}
.colorpick{
	width: 38px;
	height: 38px;
	display: inline-block;
	border-radius: 50%;
	margin: 5px;
	transition: all 0.2s;
}
.selected{
	border: 1px solid black;
}
.shadowed{
	box-shadow: 0.5px 0.5px 10px 0.5px rgba(0,0,0,0.75);s
}
.point{
	position: absolute;
}
.textOption{
	font-size: 50px;
}

.input{
	position: absolute;
}